{%- set _rules_ip_cidrs = wormhole_composed.advertise_cidrs | default([]) -%}
{%- set _apply_rules = (peer.mode | default('split')) == 'split' -%}
{%- set _wg_subnet = peer.subnet | default(wg.subnet) -%}
{%- set allowed_ips = ([_wg_subnet, fakeip_inet4_range, fakeip_inet6_range] + _rules_ip_cidrs) if _apply_rules else ['0.0.0.0/0', '::/0'] -%}
{%- set _wg_base = _wg_subnet.split('/')[0].rsplit('.', 1)[0] -%}
[Interface]
# user = {{ peer.user }}, device = {{ peer.device }}, entry = {{ peer.entry | default(inventory_hostname) }}, exit = {{ peer.exit | default(peer.selected_peer) }}, mode = {{ peer.mode | default('split') }}
Address    = {{ peer.ip }}/32
PrivateKey = {{ peer_private_key }}
DNS        = {{ _wg_base }}.53

[Peer]
PublicKey           = {{ wg_public_key }}
Endpoint            = {{ ansible_host }}:{{ peer.listen_port | default(wg.port | default(51821)) }}
AllowedIPs          = {{ allowed_ips | join(', ') }}
PersistentKeepalive = 25
