[defaults]
# Pass a deployment directory: ansible-playbook -i inventories/<name> site.yml
roles_path = roles/
host_key_checking = False
retry_files_enabled = False
vault_password_file = ../.vault-password
inventory_ignore_patterns = \.example$, \.DS_Store$
hash_behaviour = merge
