add table ip wormhole
flush table ip wormhole

table ip wormhole {

  # FILTER

  chain input {
    type filter hook input priority filter; policy accept;
    ct state invalid drop
    ct state established,related accept
    iif lo accept
    iifname "awg-in" accept
  }

  chain forward {
    type filter hook forward priority filter; policy accept;
    ct state invalid drop
    ct state established,related accept
    # Allow non-TPROXY'd VPN traffic (ICMP, etc.) to be forwarded
    iifname "awg-in" accept
  }

  # NAT

  chain postrouting {
    type nat hook postrouting priority srcnat; policy accept;
    # Masquerade non-TPROXY'd VPN traffic leaving via another interface
    iifname "awg-in" oifname != "awg-in" masquerade
  }
}
